@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;400;500&display=swap");

html {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:active,
*:hover,
*:focus {
  outline: 0 !important;
}

:root {
  --gold-color: #9d8665;
  --vinous-color: #710707;
  --black-popup-color: #272727;
  --header-black-color: #030303be;
  --btn-menu-color: #030303f6;
  --player-input-color: #c4c4c4;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 2px;
  color: #030303;
  background-color: hsl(0, 0%, 100%);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}

.h1-title {
  font: 400 28px "Forum", cursive;
  color: white;
}

.section-title_light,
.section-title_gold {
  color: white;
  font: 400 80px "Forum", cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.6s ease-out;
  cursor: default;
}

.section-title_gold {
  color: var(--gold-color);
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--vinous-color);
}

.hover-text {
  width: 80%;
  cursor: default;
  transition: all 0.4s ease-out;
}

iframe {
  border: none;
}
/*-------------------- Header ------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -0);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-black-color);
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-container_theme_black {
  width: 100%;
  background-color: #030303;
  height: 150px;
}

.header__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}

.header__title,
.header__title2 {
  position: relative;
  padding-left: 75px;
  cursor: default;
  transition: all 0.5s ease-out;
}

.header__title::before,
.header__title2::before {
  position: absolute;
  content: "";
  background-image: url("../assets/svg/logo.svg");
  left: 0;
  width: 49px;
  height: 26px;
}

.header__title:hover,
.header__title:focus,
.header__title2:hover,
.header__title2:focus {
  filter: invert(62%) sepia(9%) saturate(1379%) hue-rotate(356deg)
    brightness(86%) contrast(81%);
  transform: scale(1.2);
}

.header__title2 {
  visibility: hidden;
  position: absolute;
  top: 49px;
  left: 20px;
  z-index: 1000;
}

.header__nav__wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 720px;
}

.nav__text,
.nav__text1 {
  color: white;
  font-weight: 200;
  transition: all 0.4s ease-out;
  letter-spacing: 3px;
}

.nav__text:hover .nav__text1:hover {
  transform: scale(1.2);
}

.nav__link,
.nav__link1 {
  color: white;
  text-decoration: none;
  padding: 20px 27.5px;
  transition: all 0.4s ease-out;
  position: relative;
}

.nav__link:hover,
.nav__link1:hover {
  color: var(--gold-color);
}

.nav__link_position_end {
  padding-right: 0;
}

.header-additional__block {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

/* !_____________________menu Burger______________________ */

.burger-menu {
  display: none;
}

/*-------------------- Main ------------------------------------------------------------*/

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.dark-section {
  background-color: #030303;
}

.video-section {
  padding-top: 90px;
  padding-bottom: 75px;
}

.special-section {
  padding-top: 90px;
  padding-bottom: 43px;
  overflow: hidden;
}
/*-------------------- Welcome --------------------*/

.welcome {
  height: 810px;
}

.welcome__block {
  position: relative;
}

.welcome-title__wrapper {
  position: absolute;
  top: 150px;
  z-index: 2;
  transition: all 0.4s ease-out;
}

.welcome__title {
  transition: all 0.4s ease-out;
  cursor: default;
}

.welcome__title:hover {
  color: var(--gold-color);
  transform: scale(1.08);
}

.welcome__subtitle {
  color: white;
  font-size: 28px;
  margin-top: 25px;
  transition: all 0.4s ease-out;
  cursor: default;
}

.welcome__subtitle:hover {
  color: var(--gold-color);
  transform: scale(1.05);
}

.welcome__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 360px;
  margin-top: 75px;
  color: white;
  background: var(--vinous-color);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.welcome__button:hover {
  background-color: var(--gold-color);
  transform: scale(1.05);
}
/* ! ------------------Slider---------------------- */

.welcome-img__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30.56%;
  padding-bottom: 60px;
  z-index: 1;
}

.welcome__img {
  width: 100%;
  object-fit: cover;
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: flex;
}

.slider .slider__item {
  position: relative;
  z-index: 1;
}

.slider .slider__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}

.slider {
  position: relative;
}

.pagingInfo {
  color: white;
  cursor: default;
}

.slider__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  display: flex;
  padding: 10px 75px;
  justify-content: space-between;
  align-items: center;
  background: #030303;
  z-index: 4;
}

.slider__menu .slick-next,
.slider__menu .slick-prev {
  background-color: transparent;
  position: relative;
  border: none;
  height: 50px;
  width: 40px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.slider__menu .slick-next::before,
.slider__menu .slick-prev::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__menu .slick-next::before {
  background: no-repeat url(../assets/svg/next.svg);
}

.slider__menu .slick-prev::before {
  background: no-repeat url(../assets/svg/previous.svg);
}

.slider__menu .slick-next:hover,
.slider__menu .slick-prev:hover {
  filter: invert(62%) sepia(9%) saturate(1379%) hue-rotate(356deg)
    brightness(86%) contrast(81%);
  transform: scale(1.5);
}

.slider__menu .slick-dots {
  display: flex;
}
.slider__menu .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 12.5px;
}

.slider__menu .slick-dots li.slick-active button {
  background-color: var(--gold-color);
}

.slider__menu .slick-dots li button {
  border: none;
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  transition: all 0.4s ease-out;
}

.slider__menu .slick-dots li button:hover {
  transform: scale(1.4);
}
/*-------------------- Visiting --------------------*/

.visiting__container {
  display: flex;
  flex-wrap: wrap;
  gap: 75px 60px;
  margin-top: 100px;
  margin-bottom: 0;
}

.visiting-title {
  position: relative;
  transition: all 0.6s ease-out;
  cursor: default;
}

.visiting-title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--vinous-color);
  transition: all 0.8s ease-out;
}

.visiting-title:hover::after {
  width: 40%;
}

.visiting-title:hover {
  transform: scale(1.05);
}

.visiting__wrapper {
  flex: 1;
  max-width: 440px;
}

.visiting__link {
  text-decoration: none;
  color: #030303;
}

.img__wrapper {
  display: inline-block;
  overflow: hidden;
}

.visiting__image {
  transition: all 0.6s ease-out;
  display: block;
  width: 100%;
}

.visiting__image:hover {
  transform: scale(1.2);
}

.visiting__image:hover .visiting__subtitle::after {
  width: 100%;
}

.visiting__subtitle {
  position: relative;
  font: 32px "Forum", cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px 0 16px;
  transition: all 0.4s ease-out;
}

.visiting__subtitle::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  width: 45%;
  height: 3px;
  background-color: var(--vinous-color);
  transition: all 0.4s ease-out;
}

.visiting__subtitle:hover::after {
  width: 100%;
}

.visiting__text {
  font-weight: 200;
  cursor: pointer;
}

.visiting__subtext {
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}

.visiting__subtitle:hover,
.visiting__text:hover,
.visiting__subtext:hover {
  color: var(--gold-color);
  transform: scale(1.08);
}

/*-------------------- Explore --------------------*/

.explore {
  background-color: #030303;
}

.explore__block {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

.explore__title {
  margin-bottom: 103px;
  cursor: default;
  transition: all 0.4s ease-out;
}

.explore__title:hover {
  transform: scale(1.05);
  color: var(--gold-color);
}

.explore__text {
  color: white;
  line-height: 1.75;
  margin-bottom: 27px;
  letter-spacing: 1px;
  transition: all 0.4s ease-out;
  cursor: default;
}

.explore__text:hover {
  transform: scale(1.05);
  color: var(--gold-color);
}

.explore__text:hover span {
  color: #ffb144;
}

.text__color_gold {
  color: var(--gold-color);
  transition: all 0.4s ease-out;
}

/* !--------- Image comparison slider ------------*/

#image-comparison-slider {
  width: min(50vw, 720px);
  position: relative;
  overflow: hidden;
  cursor: col-resize;
  border-radius: 0.25rem;
}

.image-compare__wrapper {
  display: block;
  width: min(50vw, 720px);
  height: auto;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.image-compare__block {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 1;
}

.image-compare__wrapper_after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.slider-handle {
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2;
}

.slider-handle__circle {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-radius: 50%;
}

.slider-handle__line {
  width: 4px;
  flex-grow: 1;
  background-color: white;
}

/*--------------------Video--------------------*/
.video-text__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.video__title {
  display: inline-block;
  cursor: default;
  transition: all 0.4s ease-out;
}

.video__title:hover {
  transform: scale(1.05);
  color: var(--gold-color);
}

.video__text {
  display: inline-block;
  width: 50%;
  align-self: center;
  line-height: 1.75;
  letter-spacing: 0.1px;
  transition: all 0.4s ease-out;
  cursor: default;
}

.video__text:hover {
  transform: scale(1.05);
  color: var(--gold-color);
}

/* !Slider2-big */
.video__wrapper {
  width: min(100%, 1440px);
  height: 735px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.slider2-big__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-big__container {
  background-color: #fff;
  margin-bottom: 20px;
}

.slider2-big .slick-track {
  display: flex;
  justify-content: center;
}

.slider2-big .slick-list {
  overflow: hidden;
}

.video-control__menu {
  width: 100%;
  height: 85px;
  background-color: black;
  margin-top: -14px;
  margin-bottom: 20px;
}

/* !Slider2 */
.iframe__wrapper_small {
  width: min(100%, 452px);
  height: 254px;
  overflow-x: hidden;
}

.slider2__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slider2 .slider__container {
  background-color: #fff;
  margin-bottom: 20px;
}

.slider2 .slick-track {
  display: flex;
  justify-content: center;
}

.slider2 .slick-slide {
  margin: 0 22px;
  overflow: hidden;
}

.slider2 .slick-list {
  overflow: hidden;
  margin: 0 -22px;
}

.slider2 .slick-arrow {
  position: absolute;
  top: 94.9%;
  z-index: 10;
  font-size: 0;
  border: none;
  margin: 10px;
}

/* !Slider2__menu */

.slider2__menu {
  height: 65px;
  display: flex;
  padding: 15px 75px;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.slider2__menu .slick-next,
.slider2__menu .slick-prev {
  background-color: transparent;
  position: relative;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.slider2__menu .slick-next::before,
.slider2__menu .slick-prev::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.slider2__menu .slick-next::before {
  background: no-repeat url(../assets/svg/right-btn.svg);
}

.slider2__menu .slick-prev::before {
  background: no-repeat url(../assets/svg/left-btn.svg);
}

.slider2__menu .slick-next:hover,
.slider2__menu .slick-prev:hover {
  filter: invert(62%) sepia(9%) saturate(1379%) hue-rotate(356deg)
    brightness(86%) contrast(81%);
  transform: scale(1.5);
}

.slider2__menu .slick-dots {
  display: flex;
}

.slider2__menu .slick-dots li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 10px;
}

.slider2__menu .slick-dots li.slick-active button {
  background-color: #333333;
}

.slider2__menu .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
  border: none;
  transition: all 0.4s ease-out;
}

.slider2__menu .slick-dots li button:hover {
  transform: scale(1.4);
}

/* ! ______________Player________________ */

#video1 {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 4px;
}

.video-controls {
  right: 0;
  left: 0;
  bottom: 0;
  height: 85px;
  display: flex;
  padding: 25px;
  position: absolute;
  transition: all 0.2s ease;
  background-color: black;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.video-progress {
  height: 8px;
  margin-bottom: 10.4px;
  width: 100%;
  position: relative;
}

.progress1 {
  margin: 0 50px 10.4px 40px;
}

.progress2 {
  margin: 0 30px 10.4px 40px;
}

progress {
  position: absolute;
  top: 50%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 8px;
  pointer-events: none;
}

progress::-webkit-progress-bar {
  background-color: #474545;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: var(--vinous-color);
  border-radius: 2px;
}

.seek,
.volume {
  position: absolute;
  top: 50%;
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.volume:hover,
.seek:hover + .seek-tooltip {
  display: block;
}

.seek-tooltip {
  content: attr(data-title);
  display: none;
  position: absolute;
  top: -50px;
  margin-left: -20px;
  font-size: 12px;
  padding: 3px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.bottom-controls {
  width: 100%;
  display: flex;
  align-items: center;
}

.left-controls,
.right-controls {
  display: flex;
  align-items: center;
  color: #fff;
}

.volume-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.volume-controls input,
.volume-controls progress,
.volume-controls .video-progress {
  width: 155px;
  opacity: 1;
  transition: all 0.4s ease;
}

.volume-controls:hover input,
.volume-controls input:focus {
  width: 155px;
  opacity: 1;
}

.video__wrapper button {
  cursor: pointer;
  position: relative;
  margin-right: 7px;
  font-size: 12px;
  padding: 3px;
  border: none;
  outline: none;
  background-color: transparent;
}

.video__wrapper button * {
  pointer-events: none;
}

.video__wrapper button::before {
  content: attr(data-title);
  position: absolute;
  display: none;
  right: 0;
  top: -43px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  padding: 4px 6px;
  word-break: keep-all;
  white-space: pre;
}

.video__wrapper button:hover::before {
  display: inline-block;
}

.fullscreen-button {
  margin-right: 0;
}

.video__wrapper input[type="range"] {
  -webkit-appearance: none;
  height: 8px;
  background: transparent;
  cursor: pointer;
}

.video__wrapper input[type="range"]:focus {
  outline: none;
}

.video__wrapper input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

.video__wrapper input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

.video__wrapper input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.video .hidden {
  display: none;
}

.video svg {
  fill: #b3b3b3;
  stroke: #b3b3b3;
  cursor: pointer;
}
.playback-icons {
  width: 28px;
  height: 28px;
}

.volume-icons {
  width: 35px;
  height: 35px;
}

.fullscreen-icons {
  width: 35px;
  height: 35px;
}

.stop-icons {
  width: 220px;
  height: 220px;
}

.playback-animation {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 110px);
  width: 220px;
  height: 220px;
}

.playback-rate {
  position: absolute;
  pointer-events: none;
  font: 450 22px "Roboto", sans-serif;
  color: white;
  width: 100px;
  text-align: center;
  top: 10%;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
/*-------------------- Gallery --------------------*/

.gallery__title:hover {
  color: var(--gold-color);
  transform: scale(1.05);
}

.gallery {
  background-color: #030303;
  height: 2200px;
}

.gallery__wrapper {
  padding-top: 75px;
}

.gallery__img {
  width: min(30vw, 455px);
  object-fit: cover;
  transition: all 0.8s ease-out;
  transform: scale(0.95) translate(0, 20%);
  opacity: 0.5;
}

.gallery__img._active {
  transform: scale(1) translate(0, 0);
  opacity: 1;
}

.left__column,
.middle__column,
.right__column {
  width: min(30vw, 455px);
  height: 100%;
  margin-top: 50px;
  overflow-y: auto;
  scroll-snap-type: auto;
  position: relative;
}

.left__column::-webkit-scrollbar,
.middle__column::-webkit-scrollbar,
.right__column::-webkit-scrollbar {
  width: 0;
}
.middle__column {
  margin-top: 0;
}

.gallery-scroll__wrapper {
  position: relative;
  width: 100%;
  height: 2000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 36px;
  margin-top: 75px;
  z-index: 1;
  overflow: hidden;
}

.gallery-scroll__wrapper img {
  margin-bottom: 24px;
}

.shadow__box {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 2;
}

#left__column .gallery__img_hidden,
#middle__column .gallery__img_hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

/*-------------------- tickets --------------------*/
.tickets {
  position: relative;
  z-index: 2;
  background-color: white;
}

.tickets__title {
  position: relative;
  transition: all 0.6s ease-out;
  cursor: default;
}

.tickets__title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--vinous-color);
  transition: all 0.8s ease-out;
}

.tickets__title:hover::after {
  width: 470px;
}

.tickets__title:hover {
  transform: scale(1.05);
}

.tickets__container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 12fr 11fr;
  column-gap: 60px;
  overflow: hidden;
}

.tickets-img__wrapper {
  overflow: hidden;
}

.tickets-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.selection__wrapper {
  display: flex;
  justify-content: space-between;
}

/* ! Tickets input */
.tickets__subtitle {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  cursor: default;
  transition: all 0.4s ease-out;
}

.tickets__subtitle_1 {
  margin-bottom: 45px;
}

.tickets__subtitle_2 {
  margin-bottom: 5px;
  text-align: end;
}

.tickets__subtitle:hover {
  color: var(--gold-color);
}

.radio-btn__container {
  display: flex;
  flex-direction: column;
}

.input__wrapper {
  margin-bottom: 15px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio__label {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 30px;
}

.radio__label:hover .radio__input ~ .radio__btn {
  background-color: #ccc;
  transform: scale(1.4);
}

.radio__btn {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.4s ease-out;
}

.radio__btn:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  transition: 0.2s;
  z-index: 5;
}

.radio__input:checked + .radio__btn:before {
  opacity: 1;
}

.amount-btn__container {
  display: flex;
  flex-direction: column;
}

.amount__container {
  margin-left: 25px;
  width: 150px;
}

.btn__amount {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid black;
  margin: 10px 0;
}

.btn__amount button {
  font-size: 32px;
  font-weight: 400;
  color: black;
  border: none;
  background-color: white;
}

.input__count {
  all: unset;
  text-align: center;
  width: 50px;
  margin-left: 15px;
}

.tickets__subtitle3 {
  margin: 40px 0 50px;
  text-align: end;
  letter-spacing: 1.65px;
}

.tickets__subtitle_3 {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

.buy-now {
  width: 175px;
  height: 50px;
  background-color: black;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.buy-now_center {
  text-align: center;
}

.buy-now:hover {
  color: var(--gold-color);
  transform: scale(1.2);
}
/*-------------------- Parallax --------------------*/

.parallax {
  max-width: 100vw;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/*-------------------- Contacts --------------------*/
.contact__container {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
}

.contacnts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  position: relative;
  transition: all 0.6s ease-out;
  cursor: default;
}

.contacts__title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--vinous-color);
  transition: all 0.8s ease-out;
}

.contacts__title:hover::after {
  width: 410px;
}

.contacts__title:hover {
  transform: scale(1.05);
}

.contacts__subtitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0;
}

.contacts__list {
  margin-top: 50px;
  letter-spacing: 0;
}

.contacts__link {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-out;
}

.contacts__link:hover {
  color: var(--gold-color);
}

.contacns-map {
  width: min(67vw, 960px);
}

/*-------------------- Popup --------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1010;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s ease-out;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.7s ease-out;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  left: 0;
}

.popup__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  width: min(1440px, 100%);
  height: min(845px, 100%);
  background-color: white;
  padding: 91px 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  transition: all 0.7s ease-out;
  opacity: 0;
  left: -100vw;
}

.popup__close,
.popup__close2 {
  background: url(../assets/svg/popup/Close.svg) no-repeat center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 0.8s ease-out;
}

.popup__close2 {
  visibility: hidden;
}

.popup__close:hover {
  transform: scale(1.8);
}

.left__col {
  width: 400px;
  height: 663px;
  display: flex;
  flex-direction: column;
}

.right__col {
  width: 530px;
  height: 663px;
}

.popup__title {
  color: var(--gold-color);
  font: 400 50px "Forum", cursive;
  text-transform: uppercase;
  background: url(../assets/svg/biggerLogo.svg) no-repeat left top;
  padding-top: 40px;
  margin-bottom: 11px;
  letter-spacing: 0;
  cursor: default;
  transition: all 0.4s ease-out;
}

.popup__title:hover {
  transform: scale(1.15);
}

.popup__text {
  color: var(--vinous-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  transition: all 0.5s ease-out;
  position: relative;
  cursor: default;
}

.popup__text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--vinous-color);
  transition: all 0.5s ease-out;
}

.popup__text:hover::after {
  width: 120px;
}

.popup__text:hover {
  transform: scale(1.17);
}

.form__container {
  margin-top: auto;
}

.data__time {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form__time::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form__date {
  font-size: 18px;
  width: 190px;
  height: 45px;
  background: url(../assets/svg/popup/date.svg),
    url(../assets/svg/popup/arrow.svg);
  background-repeat: no-repeat;
  background-position: 15px, 158px;
  border: 1px solid black;
  padding-left: 34px;
}

.form__time {
  font-size: 18px;
  width: 190px;
  height: 45px;
  background: url(../assets/svg/popup/time.svg),
    url(../assets/svg/popup/arrow.svg);
  background-repeat: no-repeat;
  background-position: 15px, 158px;
  border: 1px solid black;
  padding-left: 34px;
}

.form__text,
.form__email,
.form__tel,
.ticket__select {
  width: 100%;
  height: 45px;
  background-repeat: no-repeat;
  padding-left: 45px;
  border: 1px solid black;
  margin-top: 20px;
  font-size: 18px;
}

.form__text {
  background-image: url(../assets/svg/popup/name.svg);
  background-position: 15px;
}

.form__email {
  background-image: url(../assets/svg/popup/email.svg);
  background-position: 15px;
}

.form__tel {
  background-image: url(../assets/svg/popup/tel.svg);
  background-position: 15px;
}

.ticket__select {
  background-image: url(../assets/svg/popup/ballot.svg),
    url(../assets/svg/popup/arrow.svg);
  background-position: 15px, 368px;
  appearance: none;
}

.ticket-entry__container {
  position: relative;
  height: 134px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 15px 15px;
}

.entry__title {
  font: 400 18px "Forum", cursive;
  text-transform: capitalize;
  color: var(--gold-color);
  transition: all 0.5s ease-out;
  cursor: default;
  position: relative;
  letter-spacing: 0;
  padding-bottom: 2.25px;
}

.entry__title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--vinous-color);
  transition: all 0.5s ease-out;
}

.entry__title:hover::after {
  width: 110px;
}

.entry__title:hover {
  transform: scale(1.05);
}

.ticket-btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-basic,
.ticket-senior {
  font: 400 18px "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  letter-spacing: 0;
}

.ticket-basic button,
.ticket-senior button {
  width: 35px;
  height: 25px;
  background-color: #030303;
  border: none;
  outline: none;
  color: #fff;
}

.ticket-basic input,
.ticket-senior input {
  width: 25px;
  height: 23px;
  border: 1px solid #030303;
  margin: 0;
  padding-left: 2.5px;
  padding-right: 2.5px;
  text-align: center;
}

/* !popup right__col */
.popup-right__header {
  position: relative;
}

.popup__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.right__col {
  width: 530px;
  height: 663px;
  border: 1.5px solid black;
  padding: 25px 30px;
}

.popup-right__text,
.popup-right__title,
.popup-right__subtitle {
  letter-spacing: 0;
}

.popup-right__title {
  font: 500 32px "Roboto", sans-serif;
  color: var(--black-popup-color);
}

.popup-right__subtitle {
  font: 500 22px "Roboto", sans-serif;
  color: var(--vinous-color);
  margin-bottom: 10px;
}

.popup-right__text {
  font: 300 18px "Roboto", sans-serif;
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
}

.right__elem1::before {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/popup/date.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 7.5px;
  transform: translate(-50%, -50%);
}

.right__elem2::before {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/popup/time.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
}

.right__elem3::before {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/popup/Vector.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
}

.popup-right__body {
  font: 400 22px "Roboto", sans-serif;
  margin-top: 20px;
}

.popup-text__wrapper {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0;
}

.text1__number {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  background-color: black;
  border-radius: 15%;
  padding: 0 10px;
  color: white;
  text-align: center;
  height: 20px;
}

.popup-right__text1 {
  margin-bottom: 6px;
}

.popup-right__underline {
  position: relative;
}

.popup-right__underline::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--vinous-color);
}

.popup-text__wrapper2 {
  margin-top: 20px;
  font-size: 32px;
}

.popup-right__cards {
  height: 241px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.popup__card1,
.popup__card2 {
  position: absolute;
  width: 360px;
  height: 211px;
  border-radius: 5px;
  padding: 11px 20px;
}

.popup__card1 {
  background-color: hsl(0, 0%, 75%);
  top: 0;
  left: 0;
  z-index: 3;
  position: relative;
}

.popup__card1::after,
.popup__card1::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 55px;
  right: 20px;
}

.popup__card1::after {
  background-image: url(../assets/svg/popup/Mastercard.svg);
  height: 32px;
  top: 65px;
}

.popup__card1::before {
  background-image: url(../assets/svg/popup/Visa.svg);
  height: 16px;
  top: 34px;
}

.card1__title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.card1-date,
.card1-number,
.card1-name {
  height: 35px;
  font-size: 12px;
  padding-left: 8px;
  margin-bottom: 6.3px;
}

.card1-number {
  width: 215px;
}

.card1-input__wrapper {
  display: flex;
}

.card1-date {
  width: 100px;
  margin-right: 15px;
}

.card1-name {
  width: 320px;
}

.popup__card2 {
  bottom: 0;
  right: 0;
  background-color: hsl(0, 0%, 60%);
  z-index: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card2-line {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  background-color: black;
}

.card2__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 18px 0;
}

.card2-cvc__text {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.card2-cvc {
  margin-top: 2px;
  width: 75px;
  height: 35px;
}

.card2__text {
  display: block;
  font-size: 10px;
  letter-spacing: 0px;
  width: 50px;
  line-height: 12px;
  margin-top: 6px;
}

.card2-btn__wrapper {
  display: flex;
  justify-content: flex-end;
}

.popup__btn {
  margin-top: 7px;
  width: 220px;
  height: 45px;
  border: none;
  background-color: var(--vinous-color);
  color: white;
}

/*-------------------- Footer ------------------------------------------------------------*/
.footer {
  width: 100%;
  background-color: #030303;
  height: 392px;
  overflow: hidden;
}

.footer__block {
  padding-top: 80px;
  width: 100%;
  display: flex;
}

.footer__title {
  display: inline;
  position: relative;
  bottom: 14%;
  padding-left: 75px;
  cursor: default;
  transition: all 0.5s ease-out;
  letter-spacing: 5px;
}

.footer__title::before,
.header__title2::before,
.header__title::before {
  position: absolute;
  content: "";
  background-image: url("../assets/svg/logo.svg");
  background-position: center;
  background-size: cover;
  left: 0;
  width: 49px;
  height: 26px;
}

.footer__title:hover {
  filter: invert(62%) sepia(9%) saturate(1379%) hue-rotate(356deg)
    brightness(86%) contrast(81%);
  transform: scale(1.2);
}

.footer__block_nav {
  width: 100%;
  height: 268px;
}

.footer__line {
  height: 268px;
  width: 100%;
  border-bottom: 1px solid white;
}

.footer-link-nav__block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-nav__block {
  margin-left: min(10vw, 145px);
  align-self: flex-end;
  margin-bottom: 53px;
}

.footer-nav__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 20px);
  gap: 34px min(8vw, 100px);
}

.footer-link__wrapper {
  width: 340px;
  align-self: end;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.footer__block_svg {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  transition: all 0.5s ease-out;
}

.youtube__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat url(../assets/svg/footer-contacts/5.svg);
  width: 23px;
  height: 16px;
}

.inst__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -48%);
  background: no-repeat url(../assets/svg/footer-contacts/1.svg);
  width: 21px;
  height: 21px;
}

.fb__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -52%);
  background: no-repeat url(../assets/svg/footer-contacts/2.svg);
  width: 10px;
  height: 20px;
}

.twit__logo::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  background: no-repeat url(../assets/svg/footer-contacts/3.svg);
  width: 20px;
  height: 16.5px;
}

.pinterest__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat url(../assets/svg/footer-contacts/4.svg);
  width: 19.93px;
  height: 20px;
}

.footer__block_svg:hover {
  filter: invert(62%) sepia(9%) saturate(1379%) hue-rotate(356deg)
    brightness(86%) contrast(81%);
  transform: scale(1.2);
}

.footer__block_link {
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text__block {
  color: white;
  font-weight: 200;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-out;
}

.text-block-special {
  width: 100px;
}

.footer-text__block:hover {
  color: var(--gold-color);
  transform: scale(1.1);
}

/* !______________________________________ */
@media (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }

  .section {
    padding-top: 54px;
    padding-bottom: 56px;
  }

  .video-section {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .special-section {
    padding-top: 55px;
    padding-bottom: 36px;
    overflow: hidden;
  }
  /*____________________ visiting ___________________ */
  .visiting__container {
    gap: 57px 108px;
    justify-content: center;
    margin-top: 75px;
  }

  .visiting__subtitle {
    font-size: 28px;
    margin: 13px 0 16px;
  }

  .visiting__subtitle_narrow {
    letter-spacing: 3px;
  }

  .visiting__text,
  .visiting__subtext {
    letter-spacing: 0;
  }

  .visiting__subtext {
    font-size: 16px;
  }

  .left__column,
  .middle__column,
  .right__column,
  .gallery__img {
    width: min(29vw, 440px);
  }

  .gallery__wrapper {
    padding-top: 75px;
  }
}
/* !_____________________________________________________ */
@media (max-width: 1024px) {
  body {
    font-size: 20px;
  }

  .section-title_light,
  .section-title_gold {
    font-size: 50px;
    line-height: 90px;
  }

  .underline-title::after {
    bottom: -15px;
  }

  .welcome {
    height: 585px;
  }

  .welcome-title__wrapper {
    top: 50px;
  }

  .welcome__subtitle {
    font-size: 24px;
    margin-top: 15px;
  }

  .welcome__button {
    height: 60px;
    width: 300px;
    margin-top: 45px;
  }

  .welcome__img {
    height: 525px;
  }

  .welcome-img__container {
    right: 20px;
    left: 29.4%;
  }

  .slider__menu {
    width: 700px;
    height: 120px;
    padding: 10px 70px 10px 224px;
  }

  .slider__menu .slick-dots li button {
    width: 12px;
    height: 12px;
  }

  .visiting__wrapper {
    width: 330px;
  }

  /*-------------------- Explore --------------------*/
  .explore_elem3 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .explore__block {
    flex-direction: column;
  }

  .explore__wrapper_img {
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }

  #image-comparison-slider,
  .image-compare__wrapper {
    width: min(70vw, 720px);
  }

  .explore__title {
    margin-bottom: 75px;
  }

  .explore__text {
    letter-spacing: 0;
    margin-bottom: 4px;
  }
  /*-------------------- Video --------------------*/
  .video__text {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .video-text__container {
    margin-bottom: 32px;
  }

  .video__wrapper {
    height: 504px;
  }

  .video-control__menu {
    height: 62px;
  }

  .iframe__wrapper_small {
    height: 170px;
  }
  /* ____________Gallery_____________ */

  .gallery {
    height: 1460px;
  }

  .gallery-scroll__wrapper {
    height: 1260px;
    margin-top: 52px;
  }

  .shadow__box {
    height: 240px;
  }

  .gallery__wrapper {
    padding-top: 53px;
  }

  .left__column,
  .middle__column,
  .right__column,
  .gallery__img {
    width: min(29.5vw, 304px);
  }

  /* ____________Tickets_____________ */

  .tickets__container {
    margin: 75px 0 4px;
    grid-template-columns: 1fr 205px;
    column-gap: minmax(60px, 80px);
  }

  .selection__wrapper {
    display: flex;
    justify-content: end;
  }

  .tickets__title::after {
    bottom: -15px;
  }

  .tickets-img,
  .tickets-img__wrapper {
    width: 100%;
    max-height: 440px;
  }

  .radio-btn__container {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .tickets__subtitle_2 {
    margin-top: -10px;
    margin-bottom: 18px;
  }

  .input__count {
    margin-left: 5px;
  }

  .amount__container h5 {
    letter-spacing: 1px;
  }

  .tickets__text {
    margin-top: 25px;
  }

  .tickets__subtitle_2,
  .tickets__subtitle3 {
    text-align: start;
  }

  .amount__container {
    margin-left: 0;
  }

  .btn__amount {
    margin: 5px 0;
  }

  .buy-now,
  .btn__amount,
  .amount__container {
    width: 175px;
  }

  .amount-btn__container {
    margin-right: 30px;
  }

  .tickets__subtitle3 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .tickets__subtitle_3 {
    visibility: visible;
    width: auto;
    height: auto;
    margin: 13px 0 60px;
    letter-spacing: 1.65px;
  }

  .buy-now_center {
    letter-spacing: 3px;
  }

  /* ____________Popup__________ */
  .popup__content {
    width: min(1440px, 100%);
    height: 100%;
    padding: 91px 0;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
  }

  .popup__body {
    height: auto;
  }

  /* __________________Contacts_________________ */
  .contacts__title::after {
    bottom: -15px;
  }

  .contact__container {
    margin: 75px 0 11px;
  }

  .contacts__subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__list {
    margin-top: 27px;
  }

  .contacts__list li {
    margin-bottom: 3px;
  }

  .contacns-map {
    width: min(68vw, 694px);
  }

  /* _____Footer____________ */

  .footer__title {
    display: inline;
    position: static;
  }

  .footer__block_nav {
    height: 245px;
    position: relative;
    display: flex;
    align-items: normal;
  }

  .footer__line {
    height: 245px;
  }

  .footer-nav__block {
    margin-left: 10px;
    align-self: normal;
    margin-bottom: 0;
  }

  .footer__block {
    padding-top: 62px;
  }

  .footer-nav__wrapper {
    gap: 31px min(5vw, 120px);
  }

  .footer-text__block {
    letter-spacing: 3px;
  }

  /* _____________Header_____________ */

  .header-container_theme_black {
    height: 130px;
  }

  .header {
    visibility: hidden;
    height: 80px;
    background-color: transparent;
  }

  .header__title {
    visibility: visible;
    position: absolute;
    top: 50px;
    left: -1000px;
    z-index: 1003;
    transition: left 0.6s ease-out;
  }

  .header__title._active {
    left: 20px;
  }

  .header__title2 {
    visibility: visible;
  }

  .nav__link1::before {
    content: ">";
    position: absolute;
    left: 140px;
  }

  .h1-title {
    letter-spacing: 5px;
  }

  /* !_____________________menu Burger______________________ */

  .button__container {
    position: fixed;
    right: 0;
    /* right: 20px; */
    top: 32px;
    width: 32px;
    height: 25px;
    padding: 20px;
    z-index: 1009;
    box-sizing: content-box;
    background-color: var(--header-black-color);
    border-radius: 100%;
  }

  .burger-menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.6s ease-out;
    background-color: white;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }

  .burger-menu::before {
    top: 3.5px;
  }

  .burger-menu::after {
    bottom: 3.5px;
  }

  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .menu__body {
    visibility: visible;
    position: fixed;
    top: 0;
    left: -1000px;
    width: 300px;
    height: 100vh;
    background-color: var(--btn-menu-color);
    border-radius: 5px;
    z-index: 1002;
    transition: left 0.6s ease-out;
    padding: 158px 0 0 27px;
    overflow: hidden;
  }

  .menu__body._active {
    left: 0;
  }

  .welcome-title__wrapper._inactive {
    opacity: 0;
  }

  .burger-menu._active span {
    transform: scale(0) translate(0, -50%);
  }

  .burger-menu._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .burger-menu._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header__nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
  }

  .nav__link1 {
    letter-spacing: 2px;
    padding: 10px 27.5px;
  }

  .header .nav__text1 {
    margin-bottom: 13px;
  }

  .nav__text1:hover {
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  /* __________Popup_____________ */
  .left__col {
    width: min(100%, 530px);
    margin-bottom: 30px;
  }

  .popup__close {
    visibility: hidden;
  }

  .left__col {
    position: relative;
  }

  .popup__close2 {
    visibility: visible;
    top: -50px;
    right: 0;
  }

  .form__container {
    margin-top: 45.5px;
  }

  .form__date,
  .form__time {
    width: 251px;
    background-position: 15px, 94%;
  }

  .ticket__select {
    background-position: 15px, 97%;
  }

  .right__col {
    height: 665px;
    padding: 24px 15px;
  }

  .popup-right__subtitle {
    margin: 3px 0 8px;
  }

  .popup-right__text {
    margin-bottom: 3px;
  }

  .popup-right__body {
    margin-top: 25px;
  }

  .popup-text__wrapper {
    margin-bottom: -3px;
  }

  .popup-text__wrapper2 {
    margin-top: 25px;
  }

  .popup-right__cards {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  /* ___________Footer_____________ */

  .footer {
    height: 411px;
  }

  .footer__block_nav,
  .footer__line {
    height: 308px;
  }

  .footer__block {
    padding-top: 50px;
  }

  .footer-link-nav__block {
    flex-direction: column;
    margin-left: 8px;
  }

  .footer-nav__block,
  .footer-link__wrapper {
    align-self: center;
    margin-left: 0;
  }

  .footer-link__wrapper {
    padding-bottom: 40px;
  }

  .footer-nav__wrapper {
    gap: 26px min(15vw, 184px);
  }

  .footer-nav__block ul li {
    letter-spacing: 1px;
  }

  .footer__block_link {
    height: 103px;
  }
}

/* !_____________________________ */

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }

  body._lock {
    overflow: hidden;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .video-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .special-section {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .section-title_light,
  .section-title_gold {
    font-size: 40px;
    line-height: 60px;
  }

  .underline-title::after {
    bottom: -22px;
  }

  /* ______________Header__________________ */
  .header-container_theme_black {
    height: 110px;
  }

  .header__title2,
  .header__title {
    top: 45px;
  }

  .button__container {
    top: 22px;
  }

  .menu__body {
    width: 100vw;
    background-color: black;
    padding: 140px 27px 0 27px;
    overflow: auto;
  }

  .header-additional__block {
    visibility: visible;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header-img__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    position: relative;
  }

  .header-img__wrapper::before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 4%;
    right: 4%;
    height: 1px;
    background-color: white;
  }

  .header-img-1 {
    width: min(85.5vw, 658px);
    margin-bottom: 20px;
    object-fit: cover;
  }

  .header-img-2,
  .header-img-3 {
    width: min(41.4vw, 319px);
    margin-bottom: 20px;
    object-fit: cover;
  }

  .header-img-2 {
    margin-right: 20px;
  }

  .header-link__block {
    width: 340px;
    align-self: end;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .header-link__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  /* ______________Welcome__________________ */

  .welcome {
    height: 861px;
  }

  .welcome-title__wrapper {
    position: relative;
    top: 0;
  }

  .welcome__title {
    text-align: center;
  }

  .welcome__subtitle {
    font-size: 20px;
    margin-top: 18px;
    text-align: center;
  }

  .welcome__button {
    height: 0;
    visibility: hidden;
  }

  .welcome__img {
    height: 546px;
  }

  .welcome-img__container {
    top: 215px;
    right: 20px;
    left: 20px;
  }

  .slider__menu {
    width: 100%;
    height: 100px;
    padding: 0;
    justify-content: center;
  }

  .slider__menu .pagingInfo {
    letter-spacing: 2px;
    font-size: 18px;
    text-align: end;
    padding-right: 10px;
  }

  .slider__menu .pagingInfo,
  .slider__menu .slick-btn__container {
    width: 100px;
  }

  .slider__menu .slick-dots__container {
    margin: 0 25px;
  }

  .slider .slider__item::before {
    visibility: hidden;
  }

  .visiting__wrapper {
    width: 280px;
  }

  /* _______________________________________ */
  .visiting__container {
    gap: 36px 56px;
    margin-top: 62px;
    padding-bottom: 40px;
  }

  .visiting-title::after {
    bottom: -21px;
  }

  .visiting__subtitle {
    font-size: 22px;
    margin: 13px 0 16px;
    letter-spacing: 3px;
  }
  .visiting__subtitle::after {
    width: 54%;
  }
  .visiting__text,
  .visiting__subtext {
    letter-spacing: 0;
  }

  .visiting__text {
    font-size: 18px;
  }

  .visiting__subtext {
    font-size: 16px;
  }

  /* __________________Explore_____________________ */

  .explore_elem1,
  .explore_elem2 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  #image-comparison-slider,
  .image-compare__wrapper {
    width: min(97vw, 725px);
  }

  .explore__title {
    margin-bottom: 4px;
  }

  /*-------------------- Video --------------------*/
  .video-text__container {
    margin-bottom: 21px;
  }

  .video__wrapper {
    height: 386px;
  }

  .video-control__menu {
    height: 60px;
    margin-bottom: 0;
  }

  .iframe__wrapper_small {
    height: 200px;
  }

  .slider2 .slick-slide {
    margin: 0 10px;
  }

  .slider2 .slick-list {
    margin: 0 -10px;
  }

  .slider2__menu {
    height: 25px;
    padding: 0 75px;
  }

  .slider2__menu .slick-dots li button {
    padding: 0;
    width: 10px;
    height: 10px;
  }

  /*-------------------- Gallery --------------------*/

  .gallery {
    height: 1220px;
  }

  .gallery-scroll__wrapper {
    height: 1020px;
    margin-top: 40px;
  }

  .gallery__wrapper {
    padding-top: 40px;
  }

  .right__column {
    visibility: hidden;
    padding: 0;
    width: 0;
    height: 0;
  }

  .gallery-scroll__wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .left__column,
  .middle__column,
  .gallery__img {
    width: min(45.5vw, 351px);
  }

  #right__column,
  #right__column .gallery__img_hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  #left__column .gallery__img_hidden,
  #middle__column .gallery__img_hidden {
    visibility: visible;
    width: min(45.5vw, 351px);
    height: auto;
  }

  /* ____________Tickets_____________ */

  .tickets__container {
    margin: 63px 0 4px;
    grid-template-columns: 1fr 225px;
  }

  .tickets__title::after {
    bottom: -24px;
  }

  .tickets-img,
  .tickets-img__wrapper {
    max-height: 340px;
  }

  .tickets__subtitle_2 {
    margin-top: -8px;
    margin-bottom: 26px;
  }

  .tickets__text {
    margin-top: 21px;
  }

  .amount-btn__container {
    margin-right: 50px;
  }

  .tickets__subtitle_3 {
    margin: 26px 0 32px;
    letter-spacing: 1.65px;
  }

  .buy-now_center {
    letter-spacing: 3px;
  }

  /* ____________Popup__________ */

  .popup__close {
    top: 40px;
    right: 20px;
  }

  .parallax {
    height: 300px;
  }

  /* __________________Contacts_________________ */
  .contacts__title::after {
    bottom: -23px;
  }

  .contact__container {
    justify-content: start;
    flex-direction: column;
    margin: 63px 0 37px;
  }

  .contacts__subtitle {
    font-size: 20px;
    line-height: 23.44px;
  }

  .contacts__list {
    font-size: 18px;
    margin-top: 35px;
  }

  .contacts__list li {
    margin-bottom: 4px;
  }

  .contacns-map {
    margin-top: 31px;
    width: 100%;
  }
}

/* !_______________________________________ */

@media (max-width: 590px) {
  .footer {
    height: 400px;
  }

  .footer__block_nav,
  .footer__line {
    height: 297px;
  }

  .footer__block_link {
    height: 103px;
  }

  .footer__block {
    padding-top: 42px;
    flex-direction: column;
  }

  .footer__title {
    font-size: 16px;
    padding-left: 47px;
  }

  .footer__title::before,
  .header__title2::before,
  .header__title::before {
    width: 29px;
    height: 16px;
  }

  .footer-nav__block {
    width: 100%;
    margin: 36px 0 44px;
  }

  .footer-link-nav__block {
    flex-direction: column;
    margin-left: 0;
  }

  .footer-nav__wrapper {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20px);
    gap: 30px 12vw;
  }

  .footer-nav__block ul li {
    display: inline;
  }

  .footer-nav__block ul li a {
    padding: 10px 0;
    letter-spacing: 2px;
  }

  .footer-link__wrapper {
    padding-bottom: 0;
    width: 260px;
  }

  .footer-text_hidden {
    visibility: hidden;
  }
}

/* !_______________________________________ */

@media (max-width: 430px) {
  body {
    font-size: 16px;
  }

  .section {
    padding-bottom: 36px;
  }

  .special-section {
    padding-top: 37px;
    padding-bottom: 33px;
  }

  .section-title_light,
  .section-title_gold {
    font-size: 28px;
    line-height: 40px;
  }
  /* ______________Header__________________ */

  .header-container_theme_black {
    height: 90px;
  }

  .header__title2,
  .header__title {
    top: 35px;
    font-size: 16px;
    padding-left: 53px;
  }

  .button__container {
    top: 12px;
  }

  .menu__body {
    padding: 120px 27px 0 27px;
  }

  .nav__link1 {
    font-size: 20px;
  }

  .header-img-1,
  .header-img-2,
  .header-img-3 {
    width: min(22.5vw, 95px);
    height: 95px;
    margin-bottom: 20px;
  }

  .header-img-1,
  .header-img-2 {
    margin-right: 13px;
  }

  .header-img__wrapper::before {
    left: 8%;
    right: 8%;
    bottom: 0;
  }

  .header-link__block {
    width: 260px;
  }

  .header-link__wrapper {
    margin-top: 25px;
  }

  .header__title2,
  .header__title {
    font-size: 16px;
    letter-spacing: 5px;
  }

  /* ______________Welcome__________________ */

  .welcome {
    height: 544px;
  }

  .welcome__title {
    padding-top: 5px;
  }

  .welcome__subtitle {
    font-size: 16px;
    margin-top: 20px;
  }

  .welcome__img {
    height: 285px;
  }

  .welcome-img__container {
    top: 179px;
  }

  .slider__menu {
    height: 80px;
  }

  .slider__menu .pagingInfo {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .slider__menu .slick-dots__container {
    margin: 0 8px;
  }

  .slider__menu .slick-dots li {
    margin: 0 5px;
  }

  .slider__menu .slick-dots li button {
    padding: 0;
    width: 7px;
    height: 7px;
  }

  .slider__menu .slick-next,
  .slider__menu .slick-prev {
    height: 50px;
    width: 40px;
  }

  .slider__menu .slick-next::before,
  .slider__menu .slick-prev::before {
    height: 8px;
    width: 20px;
  }

  .slider__menu .slick-prev::before {
    background: no-repeat url(../assets/svg/next.svg);
    transform: rotate(180deg);
    left: 10%;
    top: 42.4%;
  }

  /*_____________________Visiting__________________  */
  .visiting__container {
    gap: 34.5px 56px;
    margin-top: 62px;
    padding-bottom: 0;
  }

  .visiting__subtitle {
    font-size: 18px;
    margin: 15px 0 20px;
    letter-spacing: 5px;
  }
  .visiting__subtitle::after {
    width: 54%;
  }
  .visiting__text,
  .visiting__subtext {
    letter-spacing: 0;
  }

  .visiting__text {
    font-size: 16px;
  }

  .image-compare__wrapper {
    height: 368px;
  }

  /*-------------------- Video --------------------*/

  .video__wrapper {
    height: 226px;
  }

  .iframe__wrapper_small {
    height: 101px;
  }

  .video-control__menu {
    height: 60px;
    margin-bottom: 20px;
  }

  .video-text__container {
    margin-bottom: 19px;
  }

  .slider2__menu {
    height: 25px;
    margin-top: 20px;
  }

  .slider2__menu .slick-dots li button {
    padding: 0;
    width: 8px;
    height: 8px;
  }

  .slick-dots__container {
    margin: 0;
  }

  .slider2__menu .slick-btn__container {
    width: 30px;
  }

  .slider2__menu .slick-next::before,
  .slider2__menu .slick-prev::before {
    width: 8px;
    height: 10px;
    top: 50%;
    background-position: center center;
  }

  .slider2__menu .slick-next::before {
    left: 40%;
  }

  /*-------------------- Gallary --------------------*/

  .gallery {
    height: 757px;
  }

  .gallery-scroll__wrapper {
    height: 557px;
    margin-top: 40px;
  }

  .gallery__wrapper {
    padding-top: 40px;
  }

  .left__column,
  .middle__column,
  .gallery__img,
  #left__column .gallery__img_hidden,
  #middle__column .gallery__img_hidden {
    width: min(42vw, 178px);
  }

  /* ____________Tickets_____________ */

  .tickets__container {
    margin: 63px 0 4px;
    display: flex;
    flex-direction: column;
  }

  .tickets__title::after {
    bottom: -24px;
  }

  .selection__wrapper {
    justify-content: center;
  }

  .tickets-img,
  .tickets-img__wrapper {
    max-height: 160px;
  }

  .tickets__subtitle_2,
  .tickets__subtitle_3 {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
  }

  .tickets__subtitle_2 {
    margin-top: 38px;
    margin-bottom: 10px;
  }

  .amount__container h5 {
    letter-spacing: 0;
    margin-bottom: 10px;
  }

  .tickets__text {
    margin-top: 16px;
  }

  .amount-btn__container {
    margin-right: 0;
  }

  .tickets__subtitle_3 {
    margin: 30px 0 34px;
    letter-spacing: 0;
  }

  .buy-now_center {
    letter-spacing: 3px;
  }

  /* _______________Popup_____________ */

  .popup__content {
    padding: 80px 20px 0;
  }

  .left__col {
    margin-bottom: 75px;
  }

  .form__container {
    margin-top: 45.5px;
  }

  .popup__title {
    font-size: 32px;
  }

  .data__time {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 0;
  }

  .form__date,
  .form__time {
    width: 100%;
    background-position: 15px, 96%;
  }

  .form__date {
    margin-bottom: 20px;
  }

  .ticket__select {
    background-position: 15px, 96%;
  }

  .ticket-entry__container {
    height: 136px;
  }

  .right__col {
    width: 100%;
    height: 885px;
    padding: 24px 15px;
    margin-bottom: 50px;
  }

  .popup__img {
    width: 120px;
    height: 96px;
  }

  .popup-right__subtitle {
    margin: 1px 0 10px;
  }

  .popup-text__wrapper {
    margin-bottom: 0;
  }

  .popup-text__wrapper2 {
    margin-top: 20px;
  }

  .popup-right__cards {
    height: auto;
    margin-top: 17px;
    margin-bottom: 30px;
  }

  .card1-number {
    width: min(77%, 215px);
  }

  .card1-date {
    width: min(35%, 100px);
  }

  .popup__card1,
  .popup__card2 {
    position: static;
    width: 100%;
    height: 209px;
    padding: 11px 20px;
  }

  .popup__card2 {
    margin-top: 25px;
    padding: 0;
  }

  .card1-name {
    width: 100%;
  }

  .popup__btn {
    font-size: 20px;
  }

  /* __________________Contacts_________________ */
  .contacts__title::after {
    bottom: -23px;
  }

  .contact__container {
    justify-content: start;
    flex-direction: column;
    margin: 63px 0 6px;
  }

  .contacts__subtitle {
    font-size: 16px;
    line-height: 18.75px;
  }

  .contacts__list {
    font-size: 16px;
    margin-top: 35px;
  }

  .contacts__list li {
    margin-bottom: 6px;
  }

  .contacns-map {
    margin-top: 31px;
    width: 100%;
  }
}
